
h1, h2, h3, h4, h5, h6, legend {
  color: #226827;
}

#main :not(.leaflet-control) > a {
  color: blue;
}

html {
  scroll-padding-top: 4em;
}

#sidebar {
  margin-top: 3em;
  background-color: #275162;
}

#sidebar > h2 {
  background-color: #275162;
}

body {
  background: white
}

#content {
  background: white;
}